@page "/CadastrarArtista"
@inject ArtistaAPI artistaAPI
@inject NavigationManager navigationManager

<MudPaper Class="px-8 pt-2 pb-4 mx-12 my-8" Justify="Justify.Center">

    <div class="d-flex align-center justify-space-between mt-4">
        <MudText Class="mt-8 d-inline-block" Typo="Typo.h4">Cadastro do Artista</MudText>
        <MudButton Variant="Variant.Filled" @onclick="Voltar">Voltar</MudButton>
    </div>
    <MudForm>

        <MudTextField Class="mt-4" T="string" Placeholder="Nome do Artista" Variant="Variant.Outlined" @ref="nome"
            Required="true" RequiredError="Campo obrigatório." />

        <MudTextField Class="mt-4" T="string" Placeholder="Biografia do artista" Variant="Variant.Outlined"
            @ref="biografia" Lines="4" Required="true" RequiredError="Campo obrigatório." />

        <MudImage Width="200" Class="my-4" src="@fileImage" />
        <MudFileUpload T="IBrowserFile" Accept=".jpeg" FilesChanged="UploadFile">
            <ActivatorContent>
                <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary"
                    StartIcon="@Icons.Material.Filled.PhotoCamera">
                    Foto de Perfil
                </MudButton>
            </ActivatorContent>
        </MudFileUpload>
        <div class="d-flex align-center justify-space-between mt-4">
            <MudButton Variant="Variant.Filled" @onclick="Cadastrar" Color="Color.Primary" Class="ml-auto">
                Cadastrar
            </MudButton>
        </div>

    </MudForm>
</MudPaper>

@code {
    private MudTextField<string>? nome;
    private MudTextField<string>? biografia;
    private string? fileImage;
    private string? fotoPerfil;

    private async Task Cadastrar()
    {
        var request = new ArtistaRequest(nome?.Value!, biografia?.Value!, fotoPerfil);
        await artistaAPI.AddArtistaAsync(request);
        Voltar();
    }

    private void Voltar()
    {
        navigationManager.NavigateTo("/Artistas");
    }

    private async Task UploadFile(IBrowserFile file)
    {
        long maxFileSize = 1024 * 1024 * 15;
        var format = "image/jpeg";
        var resizedImage = await file.RequestImageFileAsync(format, 200, 200);

        using var fileStream = resizedImage.OpenReadStream();
        using var memoryStream = new MemoryStream();
        await fileStream.CopyToAsync(memoryStream);

        fotoPerfil = Convert.ToBase64String(memoryStream.ToArray());
        fileImage = $"data:{format};base64,{fotoPerfil}";

    }

}